* {	
	font-family: 'Roboto', sans-serif;
}
html{
	max-width: 2000px;
	margin: 0 auto;
	overflow-x: hidden;
}
/* header */
li > a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
header {
	background: url(../img/header/bg.png) no-repeat center;
	padding: 40px 0 90px 0;
	
}
.menu {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
figure > img {
	width: 453px;
	height: 454px;
} 
header > section {
	text-align: center;
	margin-top: 100px;
	color: #ffffff;
	
}
.menu::after{
	content: '';
	width: 90%;
	height: 3px;
	background-color: #fff;
	margin-top: 41px;
	position: absolute;
}
figcaption {
	font-size: 50px;
	font-weight: 300;
	margin-top: 40px;
	margin-bottom: 70px;
}
figcaption > span {
	font-weight: 700;
}
.scroll>a{
	color: #ffffff;
	font-size: 18px;
	text-decoration: none;
	position: relative;
}
.scroll>a::after {
	content: url(../img/header/arrow.png);
	width: 32px;
	height: 32px;
	position: absolute;
	top: 40px;
	left: 50%;
}
/* main */
main {
	padding: 39px 0 52px 0 ;
}
main > .menu > li > a {
	color: #dbdbdb;
}
main > .menu::after {
	background-color: #dbdbdb;
} 
main > figure > img {
	width: 771px;
	height: 700px;
}
main > section {
	margin-top: 75px;
	display: flex;
	justify-content: center;
}
.about-text {
	width: 40%;
	margin-left: 52px;
}
.about-text > h2 {
	font-size: 60px;
	color: #202020;
	margin-bottom: 50px;
}
.about-text > p {
	font-size: 24px;
	letter-spacing: 0.4px;
}
.about-text > p:nth-child(n){
	margin-top: 20px;
}
main > .scroll> a {
	color: #bebebe;
}
.scroll{
	text-transform: uppercase;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 30px;
}
/* portfolio */
.portfolio {
	padding: 40px 0 52px 0;
	text-align: center;
	background: url(../img/portfolio/bgPortfolio.png) no-repeat center;
}
.portfolio > h2 {
	text-transform: uppercase;
	margin-top: 52px;
	margin-bottom: 92px;
 	font-size: 60px;
 	color: #f1f1f1;
}
.card > li  {
	max-width: 250px;
	max-height: 279px;
	margin:10px;
}

.card  {
	display: flex;
	justify-content: space-around;
}

/* footer */
footer {
	margin: 35px 0 35px 0;
}
footer > ul > li > a  {
	color: #dbdbdb;
}
footer > section {
	margin: 35px;
	text-align: center;
	text-transform: uppercase;
}
footer > section > p:nth-child(2n) {
	margin-top: 35px;
	font-size: 30px;
} 
footer > section > p:nth-child(2) {
	font-size: 48px;
} 
footer > section > p:nth-child(2n-1) {
	margin-top: 35px;
	font-size: 30px;
} 
footer > section > h3 {
	margin-top: 50px;
	color: #bebebe;
}
footer > section > h3::after {
	content: '';
	width: 90%;
	height: 3px;
	background-color: #bebebe;
	margin-top: -35px;
	position: absolute;
	left: 65px;
}
footer > .menu:after {
	background-color: #bebebe;
}
.socials {
	display: flex;
	justify-content: center;
	/* margin-left: 15px; */
}
.socials > li {
	margin: 15px;
}
@media all and (max-width: 992px) {
	figure > img {
		width: 350px;
		height: 350px;
	}
	.about-text > h2 {
		font-size: 40px;
		margin-bottom: 20px;
	}
	.about-text > p {
		font-size: 18px;
	}
	.portfolio > h2 {
		font-size: 40px;
		margin-top: 36px;
		margin-bottom: 14px;
	}
	footer > section > p:nth-child(2){
		font-size: 40px;
	}
}
@media all and (max-width: 575px ){
	
	figure > img {
		width: 250px;
		height: 250px;
	}
	.menu::after {
		width: 100%;
	}
	figcaption {
		font-size: 30px;
	}
	li > a {
		font-size: 16px;
	}
	.portfolio> h2 {
		font-size: 30px;
	}
	.cards{
		display: flex;
		justify-content: space-evenly;
	}
	.card {
		display: flex;
		flex-direction: column;
	}
	.card > li {
		max-width: 150px;
		max-height: unset;
	}
	.scroll > a {
		font-size: 15px;
	}
	.about-text > p:nth-child(n){
		margin-top: 10px;
	}
	main > section > figure > img {
		width: 200px;
		height: 200px;
	}
	.about-text {
		width: 60%;
		margin-left: 5px;
	}
	.about-text > h2 {
		margin-bottom: 10px;
		font-size: 28px;
		margin-left: 11px;
	}
	.about-text > p {
		font-size: 14px;
	}

	footer > section > p:nth-child(2){
		font-size: 25px;
	}
	footer > section > h3::after {
		left: 0;
		width: 100%;
	}
	main > section {
		display: flex;
		justify-content: space-around;
	}
}
@media all and (max-width: 450px) {
	figcaption {
		font-size: 24px;	
	}
	.portfolio > .scroll > a::after {
		left: 75%;
		margin-top: 10px;
	}
}