* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Robobto', sans-serif;
}
h2 {

    font-size: 30px;
}
section {
    padding: 20px 15px ;
    background-color: #f7f7f7;
    width: 800px;
    margin: 10px auto;
}

input {
  width: 350px;
  padding: 8px;
  border-radius: 5px;
  margin: 10px;
}
button {
    background-color: #F6F6F6;
    border-radius: 5px;
    padding: 5px;
    margin: 25px 10px;
    color: #81A635;
    font-size: 18px;
}
button:hover {
    cursor: pointer;
}